defaults:
  - dataset: tiny-imagenet
  - model: ViT-T-8
  - _self_

rng_seed: 31415

interactive: true

model_name: ${model.name}-${dataset.name}
n_epochs: 100
save_every_epoch: 20
val_every_epoch: 10
init_from: scratch
device_type: cuda
torch_compile: true
enable_tf32: true
clip_grad_norm_1: true
autocast_dtype: bf16
dataloader:
  batch_size: 256
  num_workers: 4
  pin_memory: true
  drop_last: true
optimizer:
  _target_: torch.optim.AdamW
  lr: 3e-4
  betas: [0.9, 0.99]
  weight_decay: 0.1
  eps: 1e-8
  fused: true
lr_scheduler:
  name: cosine-with-linear-warmup
  min_lr_pct: 0.1
  warmup_pct: 0.1
  decay_step_pct: 0.6

deit:
  enable: false
  teacher_name: null

logging:
  log_dir: ./logs
  wandb:
    enable: false
    project: vit

hydra:
  job:
    name: ${model_name}-${now_ist:%d-%m-%y-%H%M%S}
  run:
    dir: ${logging.log_dir}/${hydra.job.name}
  output_subdir: config